@model BrewRecipeBox.Models.Ingredient

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ingredient</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IngredientName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IngredientName)
            @Html.ValidationMessageFor(model => model.IngredientName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IngredientTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IngredientTypeId)
            @Html.ValidationMessageFor(model => model.IngredientTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IngredientNote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IngredientNote)
            @Html.ValidationMessageFor(model => model.IngredientNote)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
