@model BrewRecipeBox.Models.Ingredient

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Ingredient</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IngredientName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IngredientName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IngredientTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IngredientTypeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IngredientNote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IngredientNote)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
